# Numbers

In [1]:
a = 3 * 3
b = 2**3
c = 2 + 3 * 4

print(a,b,c)

9 8 14

In [2]:
type(a)

int

In [3]:
d = 4.5 * 2
d

9.0

In [4]:
type(d)

float

***
*Operators on Numbers*

    >, <, >=, <=, ==

In [43]:
a > b

True

In [44]:
a < b

False

***

*Notes*

In [5]:
int(d)

9

- Question 1

In [6]:
type(d)

float

- Answer 1

In [7]:
d = int(d)
type(d)

int

In [8]:
float(b)

8.0

In [9]:
int(-4.5)

-4

***
***

# Strings

*Description*

In [10]:
name = 'Hafez'
name_copy = "Hafez"

print(name,name_copy)

Hafez Hafez

In [11]:
type(name)
#type(name_copy)

str

In [12]:
'Hafez' + 'Shirazi'

'HafezShirazi'

In [13]:
name[0]

'H'

In [14]:
name[2:4]
# name[:]

'fe'

***
*Methods*

In [15]:
name.upper()

'HAFEZ'

In [16]:
name

'Hafez'

***
*Notes*

In [17]:
'H'*2

'HH'

In [18]:
print('1' + '2', 1 + 2)

12 3

- Question 2

In [19]:
'Hafez shirazi' - 'shirazi'

TypeError: unsupported operand type(s) for -: 'str' and 'str'

# Lists

*Description*

In [ ]:
list_one = [1,2,3,4]
list_two = [1,'2','3',4,'Molavi']

print(list_one,list_two)

In [ ]:
type(list_one)

In [ ]:
list_one[0]

In [ ]:
list_one[2] = 13
list_one

*Tricks*

In [ ]:
list_three = [ list_one , list_two ]
list_three

In [ ]:
list_three[0]

In [ ]:
list_three[0][0]

***
*Methods*

In [ ]:
list_one.append(3)
list_one

In [ ]:
list_one.sort()
list_one

In [ ]:
list_two.reverse()
list_two

In [ ]:
list_two.pop(4) #removes by index
list_two

In [ ]:
list_one.remove(3) #removes by value
list_one

- Find the method which adds one list to the end of another!

    example:

        input -> [-100,-90],[90,100]

        output -> [-100,-90,90,100]
    
    solution:

        list_one.????(list_two)

***
*Notes*

In [ ]:
a = [2,3]
b = a
b

In [ ]:
a[0] = 1
b

# Tuples

*Description*

In [38]:
tuple_one = (1,2,3)
tuple_one

(1, 2, 3)

In [39]:
tuple_one[0]

1

***
*Notes*

In [40]:
tuple_one[2] = 10

TypeError: 'tuple' object does not support item assignment

In [41]:
list(tuple_one)

[1, 2, 3]

***
# Dictionaries

*Description*

    { key1 : value1 , key2 : value2 , ...}
    
   keys can be string, tuple, numbers *but not lists*
   
   values can be any objects

In [31]:
iranian_lit = {'Hafez':'Divan Hafez','Molana':['Masnavi Manavi'],'Nezami':['Leili Majnoon','7 Peykar']}

In [32]:
iranian_lit['Molana']

['Masnavi Manavi']

In [33]:
iranian_lit[0]

KeyError: 0

In [34]:
iranian_lit['Molana'].append('Divan Shams')
iranian_lit['Molana']

['Masnavi Manavi', 'Divan Shams']

***
*Methods*

In [35]:
iranian_lit.keys()

dict_keys(['Hafez', 'Molana', 'Nezami'])

In [36]:
iranian_lit.values()

dict_values(['Divan Hafez', ['Masnavi Manavi', 'Divan Shams'], ['Leili Majnoon', '7 Peykar']])